.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: blue;
    color: #fff;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: alto;
}

.conteudo{
    flex-grow: 5;
    background-color: violet;
}
.l-e{
    flex-grow: 1;
    background-color:cyan;
}
.l-d{
    flex-grow: 1;
    background-color: aliceblue;
}